<footer class="bg-dark text-light py-3 mt-auto">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <p class="mb-2 mb-md-0">© <span id="year"></span> Alfie’s Birthday • Mission Shadow Force</p>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-light" href="details.html#faq">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/details.html#schedule">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/rsvp.html#contact">Contact</a>
      </li>
    </ul>
  </div>
</footer>
